<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="App">
        <header class="App-header">
            <img src="{{ url_for('static', filename='Octocat.png') }}" class="App-logo" alt="logo" />
            <p>
                GitHub Codespaces <span class="heart">♥️</span> Flask
            </p>
            <p class="small">
                Edit <code>templates/index.html</code> and refresh to see your changes!
            </p>
            <p>
                <a href="/swagger-ui" target="_blank" rel="noopener noreferrer">
                    <span style="font-size:1.2em;vertical-align:middle;">🔗</span> Open Swagger UI (API Docs)
                </a>
            </p>
        </header>
    </div>
</body>
</html>
